//variaveis
//cores

$cor-primaria-roxo: #750575;
$cor-secundaria-rosa: #ff00ff;
$cor-terciaria-preto: #000000;
$cor-quartenaria-cinza: #1a1a1a;
$cor-quintenaria-branco: #FAFAFA;

//fontes

$ft-textos: 'Montserrat' , sans-serif;
$ft-titulos: 'Krona One', sans-serif;